<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>발전량 실시간 데이터</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                alert("{{ messages[0] }}");
            </script>
        {% endif %}
    {% endwith %}
  {% include "navbar.html" %}
    <header>
        <h1>발전량 실시간 데이터</h1>
    </header>
    <main>
        <section id="real-time-data">
            <h2>실시간 데이터</h2>
            <div class="data-grid">
                <div class="data-card">
                    <h5>발전량</h5>
                    <p id="generation">-</p>
                </div>
                <div class="data-card">
                    <h5>충전량</h5>
                    <p id="charging">-</p>
                </div>
                <div class="data-card">
                    <h5>방전량</h5>
                    <p id="discharging">-</p>
                </div>
                <div class="data-card">
                    <h5>부하량</h5>
                    <p id="load">-</p>
                </div>
                <div class="data-card">
                    <h5>금일 발전량 예측</h5>
                    <p id="forecast-data">예측 데이터를 불러오는 중...</p>
                </div>
                
            </div>
        </section>
        <section id="historical-data">
            <h2>발전량 예측 데이터</h2>
            <canvas id="dataChart"></canvas>
        </section>
    </main>
    <footer>
        <p>© 2024 발전량 데이터 서비스</p>
    </footer>
    <script src="/static/js/index.js"></script>
</body>
</html>
