<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://kit.fontawesome.com/7a6522319e.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <title>전기차 충전소</title>
</head>
<body>
<div id="top">
    <div class="sidebar_button" id="sidebar_button">
        <i class="fa-solid fa-bars" style="color: white"></i>
    </div>
    <div class="navbar_logo" style="color: white; font-size: x-large; font-weight: bold">
        전기차 충전소 정보
    </div>
    <div></div>
</div>
<div id="bottom">
    <div class="side-bar" id="side">
        <div class="search-box" style="padding:7px">
            <div clas="location-area" style="margin-top: 5px">
                <div class="location-title" style="padding-bottom: 5px">
                    지역 선택
                </div>
                <div class="location-select">
                    <select class="sido-select" id="sido-select" onchange="goonguCahnge()">
                        <option value="">시도</option>
                        <option value="11">서울특별시</option>
                        <option value="26">부산광역시</option>
                        <option value="27">대구광역시</option>
                        <option value="28">인천광역시</option>
                        <option value="29">광주광역시</option>
                        <option value="30">대전광역시</option>
                        <option value="31">울산광역시</option>
                        <option value="36">세종특별자치시</option>
                        <option value="41">경기도</option>
                        <option value="42">강원도</option>
                        <option value="43">충청북도</option>
                        <option value="44">충청남도</option>
                        <option value="45">전라북도</option>
                        <option value="46">전라남도</option>
                        <option value="47">경상북도</option>
                        <option value="48">경상남도</option>
                        <option value="50">제주특별자치도</option>
                    </select>
                    <select class="goongu-select" id="goongu-select">

                    </select>
                </div>
            </div>
            <div class="charger-type-area" style="margin-top: 15px">
                <div class="charger-type-title" style="padding-bottom: 5px">
                    충전기 타입
                </div>
                <div class="charger-type-select">
                    <select id="charger-type-select">
                        <option value="">전체</option>
                        <option value="01">DC차데모</option>
                        <option value="02">AC완속</option>
                        <option value="03">DC차데모+AC3상</option>
                        <option value="04">DC콤보</option>
                        <option value="05">DC차데모+DC콤보</option>
                        <option value="06">DC차데모+AC3상+DC콤보</option>
                        <option value="07">AC3상</option>
                        <option value="89">H2</option>
                    </select>
                </div>
                <div class="search-button-box" style="margin-top: 20px;display: flex; justify-content: space-around ">
                    <button type="submit" id="search-button" class="buttons">검색하기</button>
                    <button id="clear-button" class="buttons">초기화</button>
                </div>
            </div>
        </div>
        <div class="result-title">
            <h4>검색결과</h4>

        </div>
        <div class="result-list" id="list">
            <div class="result-box" style="text-align: center">
                위쪽의 필터에서 검색하세요
            </div>
        </div>


    </div>

    <div class="section" id="map-section">
        <script type="text/javascript"
                src="//dapi.kakao.com/v2/maps/sdk.js?appkey=22b2e9f935c85b72f8f985442d2a952d"></script>
        <div id="map" style="position:absolute; top:0; left:0; width:100%; height:100%;"></div>
    </div>
</div>
<script src="/static/js/changeselector.js"></script>
<script src="/static/js/updatelist.js"></script>
<script src="/static/js/chargerstate.js"></script>
<script>
    var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
    var options = { //지도를 생성할 때 필요한 기본 옵션
        center: new kakao.maps.LatLng(33.450701, 126.570667), //지도의 중심좌표.
        level: 3 //지도의 레벨(확대, 축소 정도)
    };

    var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴


    var posmarkers = [];
    var posindowindow = [];


    $(function () {
        $('#sidebar_button').click(function () {
            if ($("#side").css("display") == "none") {
                document.getElementById("side").style.display = "block";
                document.getElementById("map-section").style.left = "280px";
                document.getElementById("map-section").style.width = "-webkit-calc(100% - 280px);";
            } else if ($("#side").css("display") != "none") {
                document.getElementById("side").style.display = "none";
                document.getElementById("map-section").style.left = "0px";
                document.getElementById("map-section").style.width = "100%";
            }
        });
    });

    function showDetail(id) {
        if (document.getElementById(`detail-box-${id.id}`).style.display == "none") {
            document.getElementById(`detail-box-${id.id}`).style.display = "block";
        } else if (document.getElementById(`detail-box-${id.id}`).style.display != "none") {
            document.getElementById(`detail-box-${id.id}`).style.display = "none";
        }
    }


    $('#clear-button').click(function () {
        document.getElementById("sido-select").value = '';
        document.getElementById("goongu-select").value = '';
        document.getElementById("charger-type-select").value = '';
    });


    $("#search-button").click(function () {
        changeList()
    });
</script>
</body>
</html>
