<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://kit.fontawesome.com/7a6522319e.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <title>전기차 충전소</title>
    <style>
        html {
            margin: 0;
            padding: 0;
        }

        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        #top {
            width: 100%;
            height: 22px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #263343;
            padding: 20px 18px;
        }

        #bottom {
            position: relative;
            width: 100%;
            height: calc(100vh - 22px);
            height: -webkit-calc(100vh - 22px);
            height: -moz-calc(100vh - 22px);
        }

        .side-bar {
            position: absolute;
            top: 0;
            left: 0;
            width: 280px;
        }

        .section {
            position: absolute;
            top: 0;
            left: 280px;
            width: calc(100% - 280px);
            width: -webkit-calc(100% - 280px);
            width: -moz-calc(100% - 280px);
            height: calc(100vh - 56px);
            height: -webkit-calc(100vh - 56px);
            height: -moz-calc(100vh - 56px);
        }

        .result-title {
            text-align: center;
            margin-top: 20px;
            border-bottom: solid 1px black;
            border-top: solid 1px black;
            padding-top: 7px;
            padding-bottom: 7px;
        }

        .result-list {
            height: calc(100vh - 352px);
            height: -webkit-calc(100vh - 352px);
            height: -moz-calc(100vh - 352px);
            overflow-y: scroll;
        }

        .detail-button {
            width: 100%;
            padding: 10px 5px;
            border: 0;
            border-bottom: solid 1px black;
            color: white;
            background-color: #263343;
        }

        .detail-button:hover{
            cursor: pointer;
            background-color: black;
        }

        .buttons {
            padding: 7px 10px;
            border: 0;
            color: white;
            background-color: #263343;
            border-radius: 8px;
        }

        .buttons:hover{
            cursor:pointer;
        }

        .fa-bars:hover{
            cursor:pointer;
        }

        .result-box {
            padding: 8px;
        }

        .result-box:hover{
            background-color: lightgray;
        }

        select {
            border: 1px solid #C4C4C4;
            box-sizing: border-box;
            border-radius: 10px;
            padding: 7px 10px;
            font-family: 'Nanumgothic';
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 16px;
        }
    </style>
</head>
<body>
<div id="top">
    <div class="sidebar_button" id="sidebar_button">
        <i class="fa-solid fa-bars" style="color: white"></i>
    </div>
    <div class="navbar_logo" style="color: white; font-size: x-large; font-weight: bold">
        전기차 충전소 정보
    </div>
    <div></div>
</div>
<div id="bottom">
    <div class="side-bar" id="side">
        <div class="search-box" style="padding:7px">
            <div clas="location-area" style="margin-top: 5px">
                <div class="location-title" style="padding-bottom: 5px">
                    지역 선택
                </div>
                <div class="location-select">
                    <select class="sido-select" id="sido-select" onchange="goonguCahnge()">
                        <option value="">시도</option>
                        <option value="11">서울특별시</option>
                        <option value="26">부산광역시</option>
                        <option value="27">대구광역시</option>
                        <option value="28">인천광역시</option>
                        <option value="29">광주광역시</option>
                        <option value="30">대전광역시</option>
                        <option value="31">울산광역시</option>
                        <option value="36">세종특별자치시</option>
                        <option value="41">경기도</option>
                        <option value="42">강원도</option>
                        <option value="43">충청북도</option>
                        <option value="44">충청남도</option>
                        <option value="45">전라북도</option>
                        <option value="46">전라남도</option>
                        <option value="47">경상북도</option>
                        <option value="48">경상남도</option>
                        <option value="50">제주특별자치도</option>
                    </select>
                    <select class="goongu-select" id="goongu-select">

                    </select>
                </div>
            </div>
            <div class="charger-type-area" style="margin-top: 15px">
                <div class="charger-type-title" style="padding-bottom: 5px">
                    충전기 타입
                </div>
                <div class="charger-type-select">
                    <select id="charger-type-select">
                        <option value="">전체</option>
                        <option value="01">DC차데모</option>
                        <option value="02">AC완속</option>
                        <option value="03">DC차데모+AC3상</option>
                        <option value="04">DC콤보</option>
                        <option value="05">DC차데모+DC콤보</option>
                        <option value="06">DC차데모+AC3상+DC콤보</option>
                        <option value="07">AC3상</option>
                        <option value="89">H2</option>
                    </select>
                </div>
                <div class="search-button-box" style="margin-top: 20px;display: flex; justify-content: space-around ">
                    <button type="submit" id="search-button" class="buttons">검색하기</button>
                    <button id="clear-button" class="buttons">초기화</button>
                </div>
            </div>
        </div>
        <div class="result-title">
            <h4>검색결과</h4>

        </div>
        <div class="result-list" id="list">
            <div class="result-box" style="text-align: center">
                위쪽의 필터에서 검색하세요
            </div>
        </div>


    </div>

    <div class="section" id="map-section">
        <script type="text/javascript"
                src="//dapi.kakao.com/v2/maps/sdk.js?appkey=22b2e9f935c85b72f8f985442d2a952d"></script>
        <div id="map" style="position:absolute; top:0; left:0; width:100%; height:100%;"></div>
    </div>
</div>

<script>
    var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
    var options = { //지도를 생성할 때 필요한 기본 옵션
        center: new kakao.maps.LatLng(33.450701, 126.570667), //지도의 중심좌표.
        level: 3 //지도의 레벨(확대, 축소 정도)
    };

    var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴

    const charge_state = {
        '0': "알수없음",
        '1': "통신이상",
        '2': "사용가능",
        '3': "충전중",
        '4': "운영중지",
        '5': "점검중"
    }

    const charge_type = {
        "01": "DC 차데모",
        "02": "AC 완속",
        "03": "DC 차데모 + AC3 상",
        "04": "DC 콤보",
        "05": "DC 차데모 + DC 콤보",
        "06": "DC 차데모 + AC3 상 + DC 콤보 ",
        "07": "AC3 상",
        "89": "H2"
    }

    var posmarkers = [];
    var posindowindow = [];


    $(function () {
        $('#sidebar_button').click(function () {
            if ($("#side").css("display") == "none") {
                document.getElementById("side").style.display = "block";
                document.getElementById("map-section").style.left = "280px";
                document.getElementById("map-section").style.width = "-webkit-calc(100% - 280px);";
            } else if ($("#side").css("display") != "none") {
                document.getElementById("side").style.display = "none";
                document.getElementById("map-section").style.left = "0px";
                document.getElementById("map-section").style.width = "100%";
            }
        });
    });

    function showDetail(id) {
        if (document.getElementById(`detail-box-${id.id}`).style.display == "none") {
            document.getElementById(`detail-box-${id.id}`).style.display = "block";
        } else if (document.getElementById(`detail-box-${id.id}`).style.display != "none") {
            document.getElementById(`detail-box-${id.id}`).style.display = "none";
        }
    }

    function goonguCahnge() {
        var seoul = ["시군구", "강남구", "강동구", "강북구", "강서구", "관악구", "광진구",
            "구로구", "금천구", "노원구", "도봉구", "동대문구", "동작구", "마포구", "서대문구",
            "서초구", "성동구", "성북구", "송파구", "양천구", "영등포구", "용산구", "은평구", "종로구", "중구", "중랑구"];
        var seoulId = ["", "11680", "11740", "11305", "11500", "11620", "11215", "11530", "11545", "11350", "11320", "11230", "11590",
            "11440", "11410", "11650", "11200", "11290", "11710", "11470", "11560", "11170", "11380", "11110", "11140", "11260"];
        var daejeon = ["시군구", "동구", "중구", "서구", "유성구", "대덕구"]; //30
        var daejeonId = ["", "30110", "30140", "30170", "30200", "30230"];

        var ulsan = ["시군구", "중구", "남구", "동구", "북구", "울주군"]; //31
        var ulsanId = ["", "31110", "31140", "31170", "31200", "32710"];

        var sejong = ["시군구", "세종특별자치시"]; //36
        var sejongId = ["", "36110"];

        var gyeonggi = ["시군구", "수원시", "성남시", "의정부시", "안양시", "부천시", "광명시",
            "평택시", "동두천시", "안산시", "고양시", "과천시", "구리시", "남양주시",
            "오산시", "시흥시", "군포시", "의왕시", "하남시", "용인시", "파주시", "이천시",
            "안성시", "김포시", "화성시", "광주시", "양주시", "포천시", "여주시", "연천군",
            "가평군", "양평군"]; //41
        var gyeonggiId = ["", "41110", "41130", "41150", "41170", "41190", "41210", "41220", "41250",
            "41270", "41280", "41290", "41310", "41360", "41370", "41390", "41410",
            "41430", "41450", "41460", "41480", "41500", "41550", "41570", "41590",
            "41610", "41630", "41650", "41670", "41800", "41820", "41830"];

        var gangwon = ["시군구", "춘천시", "원주시", "강릉시", "동해시", "태백시", "속초시",
            "삼척시", "홍천군", "횡성군", "영월군", "평창군", "정선군", "철원군",
            "화천군", "양구군", "인제군", "고성군", "양양군"]; //42
        var gangwonId = ["", "42110", "42130", "42150", "42170", "42190", "42210", "42230",
            "42720", "42730", "42750", "42760", "42770", "42780", "42790", "42800",
            "42810", "42820", "42830"];
        var busan = ["시군구", "중구", "서구", "동구", "영도구", "부산진구", "동래구", "남구", "북구", "해운대구",
            "사하구", "금정구", "강서구", "연제구", "수영구", "사상구", "기장군"];
        var busanId = ["", "26110", "26140", "26170", "26200", "26230", "26260", "26290", "26320",
            "26350", "26380", "26410", "26440", "26470", "26500", "26530", "26710"];

        var daegu = ["시군구", "중구", "동구", "서구", "남구", "북구", "수성구", "달서구", "달성군"];
        var daeguId = ["", "27110", "27140", "27170", "27200", "27230", "27260", "27290", "27710"];

        var incheon = ["시군구", "중구", "동구", "미추홀구", "연수구", "남동구", "부평구", "계양구", "서구", "강화군", "옹진군"];
        var incheonId = ["", "28110", "28140", "28177", "28185", "28200", "28237", "28245", "28260", "28710", "28720"];

        var gwangju = ["시군구", "동구", "서구", "남구", "북구", "광산구"];
        var gwangjuId = ["", "29110", "29140", "29155", "29170", "29200"];

        var chungbuk = ["시군구", "청주시", "충주시", "제천시", "보은군", "옥천군", "영동군",
            "증평군", "진천군", "괴산군", "음성군", "단양군"]; //43
        var chungbukId = ["", "43110", "43130", "43150", "43720", "43730", "43740", "43745",
            "43750", "43760", "43770", "43800"];

        var chungnam = ["시군구", "천안시", "공주시", "보령시", "아산시", "서산시", "논산시",
            "계룡시", "당진시", "금산군", "부여군", "서천군", "청양군", "홍성군",
            "예산군", "태안군"]; //44
        var chungnamId = ["", "44130", "44150", "44180", "44200", "44210", "44230", "44250", "44270",
            "44710", "44760", "44770", "44790", "44800", "44810", "44825"];

        var junbuk = ["시군구", "전주시", "군산시", "익산시", "정읍시", "남원시", "김제시", "완주군",
            "진안군", "무주군", "장수군", "임실군", "순창군", "고창군", "부안군"]; //45
        var junbukbukId = ["", "45110", "45130", "45140", "45180", "45190", "45210", "45710",
            "45720", "45750", "45770", "45790", "45800"];

        var jeonnam = ["시군구", "목포시", "여수시", "순천시", "나주시", "광양시", "담양군", "곡성군",
            "구례군", "고흥군", "보성군", "화순군", "장흥군", "강진군", "해남군", "영암군",
            "무안군", "함평군", "영광군", "장성군", "완도군", "진도군", "신안군"];
        var jeonnamId = ["", "46110", "46130", "46150", "46170", "46230", "46710", "46720", "46730",
            "46770", "46780", "46790", "46800", "46810", "46820", "46830", "46840",
            "46860", "46870", "46880", "46890", "46900", "46910"];

        var gyeongsangbuk = ["시군구", "포항시", "경주시", "김천시", "안동시", "구마시", "영주시",
            "영천시", "상주시", "문경시", "경산시", "군위군", "의성군", "청송군",
            "영양군", "영덕군", "청도군", "고령군", "성주군", "칠곡군", "예천군", "봉화군", "을진군", "울릉군"];
        var gyeongsangbukId = ["", "47110", "47130", "47150", "47170", "47190", "47210", "47230",
            "47250", "47280", "47290", "47720", "47730", "47750", "47760",
            "47770", "47820", "47830", "47840", "47850", "47900", "47920",
            "47930", "47940"];

        var gyeongsangnam = ["시군구", "창원시", "진주시", "동영시", "사천시", "김해시", "밀양시",
            "거제시", "양산시", "의령군", "함안군", "창녕군", "고성군", "남해군",
            "하동군", "산청군", "함양군", "거창군", "합천군"];
        var gyeongsangnamId = ["", "48120", "48170", "48220", "48240", "48250", "48270", "48310",
            "48330", "48720", "48730", "48740", "48820", "48840", "48850",
            "48860", "48870", "48880", "48890"];

        var jeju = ["시군구", "제주시", "서귀포시"];
        var jejuId = ["", "50110", "50130"];

        var selectItem = $("#sido-select").val();

        var changeSelect;
        var changeSelectID;

        if (selectItem == 11) {
            // 서울
            changeSelect = seoul;
            changeSelectID = seoulId;
        } else if (selectItem == 26) {
            //부산
            changeSelect = busan;
            changeSelectID = busanId;
        } else if (selectItem == 27) {
            // 대구
            changeSelect = daegu;
            changeSelectID = daeguId;
        } else if (selectItem == 28) {
            // 인천
            changeSelect = incheon;
            changeSelectID = incheonId
        } else if (selectItem == 29) {
            // 광주
            changeSelect = gwangju;
            changeSelectID = gwangjuId;
        } else if (selectItem == 30) {
            // 대전
            changeSelect = daejeon;
            changeSelectID = daejeonId;
        } else if (selectItem == 31) {
            // 울산
            changeSelect = ulsan;
            changeSelectID = ulsanId;
        } else if (selectItem == 36) {
            // 세종
            changeSelect = sejong;
            changeSelectID = sejongId;
        } else if (selectItem == 41) {
            // 경기
            changeSelect = gyeonggi;
            changeSelectID = gyeonggiId;
        } else if (selectItem == 42) {
            // 강원
            changeSelect = gangwon;
            changeSelectID = gangwonId;
        } else if (selectItem == 43) {
            // 충북
            changeSelect = chungbuk;
            changeSelectID = chungbukId;
        } else if (selectItem == 44) {
            // 충남
            changeSelect = chungnam;
            changeSelectID = chungnamId;
        } else if (selectItem == 45) {
            // 전북
            changeSelect = junbuk;
            changeSelectID = junbukbukId;
        } else if (selectItem == 46) {
            // 전남
            changeSelect = jeonnam;
            changeSelectID = jeonnamId;
        } else if (selectItem == 47) {
            // 경북
            changeSelect = gyeongsangbuk;
            changeSelectID = gyeongsangbukId;
        } else if (selectItem == 48) {
            // 경남
            changeSelect = gyeongsangnam;
            changeSelectID = gyeongsangnamId;
        } else if (selectItem == 50) {
            // 제주
            changeSelect = jeju;
            changeSelectID = jejuId;
        }
        $('#goongu-select').empty();

        for (var count = 0; count < changeSelect.length; count++) {
            var option = $("<option value='" + changeSelectID[count] + "'>" + changeSelect[count] + "</option>");
            $('#goongu-select').append(option);

        }
    }


    $('#clear-button').click(function () {
        document.getElementById("sido-select").value = '';
        document.getElementById("goongu-select").value = '';
        document.getElementById("charger-type-select").value = '';
    });


    $("#search-button").click(function () {
        let sido = $("#sido-select option:selected").val();
        let goongu = $("#goongu-select option:selected").val();
        let charger_type = $("#charger-type-select option:selected").val();
        let service_key = "9M8RlzGjEBytmr26QmyfZo6TNf8VWA3tam6rQdDIycBpeN3Umfqhx8owEj5%2FjjJuNV8jNq9U75seLJLKjRSm5A%3D%3D";
        let zcode;
        let zscode;

        if (sido == "") {
            zcode = "";
        } else {
            zcode = "&zcode=" + sido;
        }

        if (goongu == "") {
            zscode = "";
        } else {
            zscode = "&zscode=" + goongu;
        }

        $.ajax({
            url: "http://apis.data.go.kr/B552584/EvCharger/getChargerInfo?serviceKey=" + service_key + "&numOfRows=30&pageNo=1" + zcode + zscode + "&dataType=JSON",
            dataType: "json",
            method: "GET",
            data: {},

            success: function (response, data) {
                let chargers = response.items;

                if (charger_type != "") {
                    for (let x = 0; x < chargers.item.length; x++) {
                        if (parseInt(chargers.item[x].chgerType) != parseInt(charger_type)) {
                            chargers.item.splice(x, 1);
                            x--;
                        }
                    }
                }


                console.log(chargers.item);
                if (Array.isArray(chargers.item) && chargers.item.length === 0) {
                    alert("일치하는 충전소가 없습니다");
                }


                let charger_bundle = chargers.item.reduce((result, item) => {
                    let {statId} = item;
                    if (result[statId] === undefined) {
                        result[statId] = [];
                    }
                    result[statId].push(item);
                    return result;

                }, {});

                console.log(charger_bundle);
                for (var q in charger_bundle) {
                    for (var value of charger_bundle[q]) {
                    }
                }

                let charger_keys = Object.keys(charger_bundle);

                let result_list_html = "";

                for (let n = 0; n < posmarkers.length; n++) {
                    posmarkers[n].setMap(null);
                    posinfowindow[n].close();
                }
                posmarkers = [];
                posinfowindow = [];

                function panTo() {
                    // 이동할 위도 경도 위치를 생성합니다
                    var moveLatLon = new kakao.maps.LatLng(charger_bundle[charger_keys[0]][0].lat, charger_bundle[charger_keys[0]][0].lng);
                    infowindow.close();
                    // 지도 중심을 부드럽게 이동시킵니다
                    // 만약 이동할 거리가 지도 화면보다 크면 부드러운 효과 없이 이동합니다
                    map.panTo(moveLatLon);
                }

                var position = [];


                for (let k = 0; k < charger_keys.length; k++) {
                    var gb_position = {
                        content: `<div class="ifw"><h5>${charger_bundle[charger_keys[k]][0].statNm}</h5><h6>${charger_bundle[charger_keys[k]][0].addr}</h6>`,
                        latlng: new kakao.maps.LatLng(charger_bundle[charger_keys[k]][0].lat, charger_bundle[charger_keys[k]][0].lng)
                    }
                    position.push(gb_position)

                    result_list_html += `<div class='result-box' id='${charger_bundle[charger_keys[k]][0].statId}'>`;
                    result_list_html += `<div class='charge-name'>${charger_bundle[charger_keys[k]][0].statNm}</div>`;
                    result_list_html += `<div class='business-tel'>T. ${charger_bundle[charger_keys[k]][0].busiCall}</div>`;
                    result_list_html += `<div class='charge-adress'>주소 : ${charger_bundle[charger_keys[k]][0].addr}</div>`;
                    result_list_html += `<div class='business-name'>기관 : ${charger_bundle[charger_keys[k]][0].bnm}</div>`;
                    result_list_html += `<div class='use-time'>사용 시간 : ${charger_bundle[charger_keys[k]][0].useTime}</div></div>`;
                    result_list_html += `<button class='detail-button' id='detail-button-${charger_bundle[charger_keys[k]][0].statId}' onclick="showDetail(${charger_bundle[charger_keys[k]][0].statId})">상세보기</button>`;
                    result_list_html += `<div class='detail-box' id='detail-box-${charger_bundle[charger_keys[k]][0].statId}' style='border:solid 1px black; padding:20px 3px; display: none;'>`;

                    for (let n = 0; n < charger_bundle[charger_keys[k]].length; n++) {
                        result_list_html += `<div>${n + 1}번  ${charge_type[charger_bundle[charger_keys[k]][n].chgerType]} : ${charge_state[charger_bundle[charger_keys[k]][n].stat]}</div>`;
                    }
                    result_list_html += "</div>";
                }

                for (var i = 0; i < position.length; i++) {

                    // 마커를 생성합니다
                    var marker = new kakao.maps.Marker({
                        map: map, // 마커를 표시할 지도
                        position: position[i].latlng, // 마커를 표시할 위치

                    });
                    var iwContent = `<div style="padding:7px;">${charger_bundle[charger_keys[i]][0].statNm}<br>${charger_bundle[charger_keys[i]][0].addr}</div>`, // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
                        iwPosition = new kakao.maps.LatLng(charger_bundle[charger_keys[i]][0].lat, charger_bundle[charger_keys[i]][0].lng); //인포윈도우 표시 위치입니다

                    // 인포윈도우를 생성합니다
                    var infowindow = new kakao.maps.InfoWindow({
                        position: iwPosition,
                        content: iwContent
                    });
                    posinfowindow.push(infowindow);
                    posmarkers.push(marker);
                    posinfowindow[i].open(map, marker);
                }

                panTo();
                document.getElementById("list").innerHTML = result_list_html;
            },
            error: function (request, status, error) {
                alert("실패");
                console.log(error);
            },
            complete: function () {
                console.log("성공");
            }
        });
    });
</script>
</body>
</html>

<!--
    html body 태그 margin 0 padding 0 만들기
-->